h1 {
  color: brown;
  text-align: center;
   font-size: 30px;
   border-top: 2px
 }
 body {color: blue;
 text-decoration-color: yellow;}

h2, h3 {color: green;
    text-align: center;
  }

p { font-family: inherit;
  font-style: oblique;
  }
ul.list { font-style: italic;
        color: maroon}
